<%- partial('_partials/page-hero', { title: page.title, description: page.description, heroImage: page.image, heroAlt: page.title }) %>

<section class="bg-primary-700">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <%- partial('_partials/blog-tags-filter') %>
        
        <% 
        const blogPosts = site.posts.filter(post => post.source.startsWith('_posts/blog/'));
        %>
        <%- partial('_partials/blog-grid', { posts: blogPosts }) %>
    </div>
</section>