<%- partial('_partials/page-hero', { title: page.tag, description: 'Browse blog posts by tag', heroImage: '/img/hero-pool-2.jpg', heroAlt: page.tag }) %>

<section class="bg-primary-700">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <%- partial('_partials/blog-tags-filter') %>
        
        <% 
        let filteredPosts = [];
        if (page.posts && page.posts.length > 0) {
            filteredPosts = page.posts.filter(post => post.source.startsWith('_posts/blog/'));
        }
        %>
        <%- partial('_partials/blog-grid', { 
            posts: filteredPosts, 
            emptyMessage: 'No blog posts available for this tag.' 
        }) %>
    </div>
</section> 