<%- partial('_partials/page-hero', { title: 'Portfolio', description:  'Seaspray Pools ' + page.tag + ' projects', heroImage: '/img/hero-pool-1.jpg', heroAlt: page.tag }) %>

<section class="bg-primary-700">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <%- partial('_partials/portfolio-tags-filter') %>
        
        <% 
        let filteredPosts = [];
        if (page.posts && page.posts.length > 0) {
            filteredPosts = page.posts.filter(post => post.source.startsWith('_posts/portfolio/'));
        }
        %>
        <%- partial('_partials/portfolio-grid', { 
            posts: filteredPosts, 
            emptyMessage: 'No portfolio projects available for this tag.' 
        }) %>
    </div>
</section> 