<%- partial('_partials/page-hero', { title: page.title, description: page.description, heroImage: '/img/hero-pool-1.jpg', heroAlt: page.title }) %>

<section class="bg-primary-700">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <%- partial('_partials/portfolio-tags-filter') %>
        
        <% 
        const portfolioPosts = site.posts.filter(post => post.source.startsWith('_posts/portfolio/'));
        %>
        <%- partial('_partials/portfolio-grid', { posts: portfolioPosts }) %>
    </div>
</section>